body{
    padding: 0%;
    margin: 0%;
width: 100%;

}
/* DIV */
#navbar{
/* border: 1px solid red; */
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;


box-sizing: border-box;
display: flex;
width: 90%;
margin: auto;
justify-content: space-around;
align-items: center;
height: 100px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#navbar_logo{
/* border: 1px solid black; */
width: 160px;


}
#navbar_logo img{
   width: 100%;
   height: 50px;
}
    
#navbar_anch{
/* border: 1px solid black; */

display: flex;
gap: 40px;   
}
#navbar_lnsp{
/* border: 1px solid black; */
display: flex;
gap: 40px;
word-spacing: 10px;   
}

/* ANCHOR TAGS */
#navbar a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    word-spacing: 2px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}

#navbar a:hover{
    color: rgb(44, 75, 255);
}
#get_start{
    border: none;
}
#get_start{
    border: none;
    
}

#get_start{
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
}
#get_start:hover{
    background-color: #00006b;
    color: white;

}

/* popup cssss////////////////////////////////////////// */
#pop{
    
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#pop h1{
    font-weight: bold;
    margin-bottom: 20px;
}
#pop p{
    line-height: 1.5em;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 0;
    visibility: hidden;
}
.overlay:target{
    opacity: 1;
    visibility: visible;
}
.wrapper{
    position: relative;
    width: 70%;
    min-height: 500px;
    display: flex;
}
.multiply{
    position: absolute;
    right: 10px;
    top: 0;
    color: #dd3e42;
    transition: all 200ms;
    
    
}
.column{
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.details{
    background:rgb(44, 75, 255);

}
.details h1{
    color: #10213e;
}
.signin, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pop input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    width: 100%;
    font-family: inherit;
    color: #0d3e6a;
    font-size: inherit;

}

#pop input:focus{
    outline-color: #0d3e6a;
}
#pop a{
    color: #10213e;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
}
.form-submit{
    
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.form-submit:hover{
    background: #071835;
    transform: scale(1.1);
}
#pop input[type="submit"] {
    background-color: #071835;
    color: white;
    width: 120px;
    margin-left: 37%;
}
.signup .form-submit{
    margin-top: 15px;
}
#signin, #signup{
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #10213e;
    font-weight: bold;
    cursor: pointer;
}
#pop span{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
}
.content{
    background:white;
    color: black;
    text-align: center;
}

/* ////////////////////////////////////////////////////////// */

#container1{

    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
    height: 500px;
}
#container1 div:nth-child(1){
    /* border: 2px solid red; */
    margin: auto;
    box-sizing: border-box;
    padding-right: 14%;
    width: 50%;
    padding-left: 4%;
}
#container1 div:nth-child(2){
    /* border: 2px solid red; */

    width: 50%;
    
}
#container1 img{
    width: 87%;
    height: 100%;
}
#container1 h1{
   font-size: 40px;
}
#container1 p{
    font-size: 17px;
    

}
.bluebtn{
    border: none;
    border-radius: 6px;
   background-color: rgb(44, 75, 255);
   height: 45px;
   width: 180px; 
   font-size: large;
   color: white;
}
.whitebtn{
    border:1px solid rgb(44, 75, 255);
    border-radius: 6px;
   background-color:white;
   height: 45px;
   width: 180px; 
   font-size: large;
   color:  rgb(44, 75, 255);
   margin-left: 10px;
   margin-top: 10px;
}
/* ///////////////////////////////////////////////////////////// */
#container2{
    width: 100%;
    height: 200px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    padding-left:28% ;
    padding-right:28% ;
    /* border:1px solid rgb(44, 75, 255); */
    padding-top: 2%;

}
#con_text{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding-top: 2%;
    text-align: center;

}
#con_text h1{
    color: rgb(44, 75, 255) ;
   font-size: 40px;


}
#con_text p{
    
   font-size: 18px;


}
