body{
    padding: 0%;
    margin: 0%;
width: 100%;
background-color: rgb(225, 224, 224);
}
/* DIV */
#navbar{
border: 1px solid red;
background-color: white;
box-sizing: border-box;
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
height: 100px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#navbar_logo{
border: 1px solid black;
width: 160px;


}
#navbar_logo img{
   width: 100%;
   height: 50px;
}
    
#navbar_anch{
border: 1px solid black;

display: flex;
gap: 40px;   
}
#navbar_lnsp{
border: 1px solid black;
display: flex;
gap: 40px;
word-spacing: 10px;   
}

/* ANCHOR TAGS */
#navbar a{
    text-decoration: none;
    color: rgb(28, 28, 28);
    word-spacing: 2px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}

#navbar a:hover{
    color: #0000ff;
}
#get_start{
    border: none;
}

/* popup cssss////////////////////////////////////////// */
#pop{
    
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#pop h1{
    font-weight: bold;
    margin-bottom: 20px;
}
#pop p{
    line-height: 1.5em;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 0;
    visibility: hidden;
}
.overlay:target{
    opacity: 1;
    visibility: visible;
}
.wrapper{
    position: relative;
    width: 70%;
    min-height: 500px;
    display: flex;
}
.multiply{
    position: absolute;
    right: 10px;
    top: 0;
    color: #dd3e42;
    transition: all 200ms;
    
    
}
.column{
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.details{
    background: #ff6f61;

}
.details h1{
    color: #10213e;
}
.signin, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pop input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    width: 100%;
    font-family: inherit;
    color: #0d3e6a;
    font-size: inherit;

}

#pop input:focus{
    outline-color: #0d3e6a;
}
#pop a{
    color: #10213e;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
}
.form-submit{
    
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.form-submit:hover{
    background: #071835;
    transform: scale(1.1);
}
#pop input[type="submit"] {
    background-color: #071835;
    color: white;
    width: 120px;
    margin-left: 37%;
}
.signup .form-submit{
    margin-top: 15px;
}
#signin, #signup{
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #10213e;
    font-weight: bold;
    cursor: pointer;
}
#pop span{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
}
.content{
    background:white;
    color: black;
    text-align: center;
}
